<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-tranfer-details-approvals-heading"
        data-cy="TranferDetailsApprovalsCreateUpdateHeading"
        jhiTranslate="aquigenApp.tranferDetailsApprovals.home.createOrEditLabel"
      >
        Create or edit a Tranfer Details Approvals
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="aquigenApp.tranferDetailsApprovals.approvalDate" for="field_approvalDate"
            >Approval Date</label
          >
          <div class="d-flex">
            <input
              id="field_approvalDate"
              data-cy="approvalDate"
              type="datetime-local"
              class="form-control"
              name="approvalDate"
              formControlName="approvalDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="aquigenApp.tranferDetailsApprovals.transferId" for="field_transferId"
            >Transfer Id</label
          >
          <input
            type="number"
            class="form-control"
            name="transferId"
            id="field_transferId"
            data-cy="transferId"
            formControlName="transferId"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="aquigenApp.tranferDetailsApprovals.qtyRequested" for="field_qtyRequested"
            >Qty Requested</label
          >
          <input
            type="number"
            class="form-control"
            name="qtyRequested"
            id="field_qtyRequested"
            data-cy="qtyRequested"
            formControlName="qtyRequested"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="aquigenApp.tranferDetailsApprovals.qtyApproved" for="field_qtyApproved"
            >Qty Approved</label
          >
          <input
            type="number"
            class="form-control"
            name="qtyApproved"
            id="field_qtyApproved"
            data-cy="qtyApproved"
            formControlName="qtyApproved"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="aquigenApp.tranferDetailsApprovals.comment" for="field_comment">Comment</label>
          <input type="text" class="form-control" name="comment" id="field_comment" data-cy="comment" formControlName="comment" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="aquigenApp.tranferDetailsApprovals.freeField1" for="field_freeField1"
            >Free Field 1</label
          >
          <input
            type="text"
            class="form-control"
            name="freeField1"
            id="field_freeField1"
            data-cy="freeField1"
            formControlName="freeField1"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="aquigenApp.tranferDetailsApprovals.freeField2" for="field_freeField2"
            >Free Field 2</label
          >
          <input
            type="text"
            class="form-control"
            name="freeField2"
            id="field_freeField2"
            data-cy="freeField2"
            formControlName="freeField2"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="aquigenApp.tranferDetailsApprovals.lastModified" for="field_lastModified"
            >Last Modified</label
          >
          <div class="d-flex">
            <input
              id="field_lastModified"
              data-cy="lastModified"
              type="datetime-local"
              class="form-control"
              name="lastModified"
              formControlName="lastModified"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="aquigenApp.tranferDetailsApprovals.lastModifiedBy" for="field_lastModifiedBy"
            >Last Modified By</label
          >
          <input
            type="text"
            class="form-control"
            name="lastModifiedBy"
            id="field_lastModifiedBy"
            data-cy="lastModifiedBy"
            formControlName="lastModifiedBy"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="aquigenApp.tranferDetailsApprovals.isDeleted" for="field_isDeleted"
            >Is Deleted</label
          >
          <input type="checkbox" class="form-check" name="isDeleted" id="field_isDeleted" data-cy="isDeleted" formControlName="isDeleted" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="aquigenApp.tranferDetailsApprovals.isActive" for="field_isActive"
            >Is Active</label
          >
          <input type="checkbox" class="form-check" name="isActive" id="field_isActive" data-cy="isActive" formControlName="isActive" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="aquigenApp.tranferDetailsApprovals.transferDetails" for="field_transferDetails"
            >Transfer Details</label
          >
          <select
            class="form-control"
            id="field_transferDetails"
            data-cy="transferDetails"
            name="transferDetails"
            formControlName="transferDetails"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                transferDetailsOption.id === editForm.get('transferDetails')!.value?.id
                  ? editForm.get('transferDetails')!.value
                  : transferDetailsOption
              "
              *ngFor="let transferDetailsOption of transferDetailsSharedCollection; trackBy: trackTransferDetailsById"
            >
              {{ transferDetailsOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
