<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="rmInventory">
      <h2 data-cy="rmInventoryDetailsHeading"><span jhiTranslate="aquigenApp.rmInventory.detail.title">Rm Inventory</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ rmInventory.id }}</span>
        </dd>
        <dt><span jhiTranslate="aquigenApp.rmInventory.inwardDate">Inward Date</span></dt>
        <dd>
          <span>{{ rmInventory.inwardDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="aquigenApp.rmInventory.inwardQty">Inward Qty</span></dt>
        <dd>
          <span>{{ rmInventory.inwardQty }}</span>
        </dd>
        <dt><span jhiTranslate="aquigenApp.rmInventory.outwardQty">Outward Qty</span></dt>
        <dd>
          <span>{{ rmInventory.outwardQty }}</span>
        </dd>
        <dt><span jhiTranslate="aquigenApp.rmInventory.outwardDate">Outward Date</span></dt>
        <dd>
          <span>{{ rmInventory.outwardDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="aquigenApp.rmInventory.totalQuanity">Total Quanity</span></dt>
        <dd>
          <span>{{ rmInventory.totalQuanity }}</span>
        </dd>
        <dt><span jhiTranslate="aquigenApp.rmInventory.pricePerUnit">Price Per Unit</span></dt>
        <dd>
          <span>{{ rmInventory.pricePerUnit }}</span>
        </dd>
        <dt><span jhiTranslate="aquigenApp.rmInventory.lotNo">Lot No</span></dt>
        <dd>
          <span>{{ rmInventory.lotNo }}</span>
        </dd>
        <dt><span jhiTranslate="aquigenApp.rmInventory.expiryDate">Expiry Date</span></dt>
        <dd>
          <span>{{ rmInventory.expiryDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="aquigenApp.rmInventory.freeField1">Free Field 1</span></dt>
        <dd>
          <span>{{ rmInventory.freeField1 }}</span>
        </dd>
        <dt><span jhiTranslate="aquigenApp.rmInventory.freeField2">Free Field 2</span></dt>
        <dd>
          <span>{{ rmInventory.freeField2 }}</span>
        </dd>
        <dt><span jhiTranslate="aquigenApp.rmInventory.freeField3">Free Field 3</span></dt>
        <dd>
          <span>{{ rmInventory.freeField3 }}</span>
        </dd>
        <dt><span jhiTranslate="aquigenApp.rmInventory.freeField4">Free Field 4</span></dt>
        <dd>
          <span>{{ rmInventory.freeField4 }}</span>
        </dd>
        <dt><span jhiTranslate="aquigenApp.rmInventory.lastModified">Last Modified</span></dt>
        <dd>
          <span>{{ rmInventory.lastModified | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="aquigenApp.rmInventory.lastModifiedBy">Last Modified By</span></dt>
        <dd>
          <span>{{ rmInventory.lastModifiedBy }}</span>
        </dd>
        <dt><span jhiTranslate="aquigenApp.rmInventory.isDeleted">Is Deleted</span></dt>
        <dd>
          <span>{{ rmInventory.isDeleted }}</span>
        </dd>
        <dt><span jhiTranslate="aquigenApp.rmInventory.isActive">Is Active</span></dt>
        <dd>
          <span>{{ rmInventory.isActive }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/rm-inventory', rmInventory.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
